
.adv__wrapper {
    height: calc(100vh - var(--vertical-padding) * 2);
    padding: var(--vertical-padding) 150px;
    display: flex;
    gap: 10rem;
    align-items: center;
}

.adv__left {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.adv__right {
    display: flex;
    flex-direction: column;
}

.adv__img {
    width: calc(100% - 40px);
    height: calc(100% - 40px);
    display: flex;
    justify-content: flex-start;
    border: 1px solid salmon;
    border-radius: 15px;
    position: absolute;
    top: 0;
}

.adv__list {
    padding-top: var(--vertical-padding);
    display: flex;
    flex-direction: column;
    font-size: 32px;
    gap: 35px;
}

.adv__title {
    font-weight: 600;
    font-size: 40px;
}


.iphone-container {
    position: relative;
    height: 100%;
    max-height: 800px;
    min-width: 200px;
}

.iphone__frame {
    position: static;
    width: 100%;
    height: 100%;
}

.iphone__frame svg {
    width: 100%;
    height: 100%;
}