.rating {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.rating__points {
    font-size: 120px;
}

.rating__stars {

}

.rating__label {
    font-size: 34px;
}