.counter {
    display: flex;
    gap: 10px;
    flex-direction: column;
    justify-content: center;

}

.counter__content {
    border: 1px solid black;
    border-radius: 40px;
    display: flex;

    font-family: "Lexend", sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: #1E1E1E;
    padding: 10px 20px;
}

.counter__label {
    text-align: center;
}
.ticker-digit > span {
    font-size: 32px !important;
}


/*.ticker-view::before {*/
/*    content: "·";*/
/*    padding: 0 10px;*/
/*    display: flex;*/
/*    align-items: center;*/
/*    justify-content: space-between;*/
/*    font-size: 25px;*/
/*}*/

.ticker-view:nth-last-child(1)::before {
    display: none;
}
