.counter {
    display: flex;
    gap: 10px;
    flex-direction: column;
}

.counter__content {
    border: 1px solid black;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Lexend", sans-serif;
    font-size: 36px;
    font-weight: 500;
    color: #1E1E1E;
    padding: 10px 20px;
}

.counter__label {
    text-align: center;
}

.ticker-view::before {
    content: "·";
    padding: 0 10px;
    display: flex;
    align-items: center;
    font-size: 60px;
}

.ticker-view:nth-last-child(1)::before {
    display: none;
}
